.Toolbox {
  height: 100%;
  overflow-y: auto;
  padding: 0 1rem;

  &_wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  &_button {
    color: $white;

    padding: 1rem;
    margin: 0.25rem;
    border-radius: 0.5rem;
    border: white solid 0.2rem;

    &:disabled {
      pointer-events: none;
      border-color: #444;
      color: #444;
    }
  }
  &_label {
    margin-bottom: 0.2rem;
  }
  &_spacer {
    color: white;
    margin: 1rem 0.25rem;
  }
}
